<?xml version="1.0"?>
<robot name="nano" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:property name="base_width" value="0.192"/>
<xacro:property name="base_length" value="0.240"/>
<xacro:property name="base_height" value="0.187"/>

<xacro:property name="axle_offset" value="0.030"/>
<xacro:property name="wheel_radius" value="0.0625"/>

<xacro:property name="base_zoff" value="${wheel_radius - axle_offset + base_height / 2}"/>

<xacro:property name="wheel_width" value="0.06"/>
<xacro:property name="wheel_ygap" value="0.005"/>

<xacro:property name="tower_width" value="0.048"/>
<xacro:property name="tower_length" value="0.048"/>
<xacro:property name="tower_height" value="0.192"/>

<xacro:property name="camera_width" value="0.096"/>
<xacro:property name="camera_length" value="0.024"/>
<xacro:property name="camera_height" value="0.024"/>

<xacro:property name="laser_height" value="0.09"/>
<xacro:property name="laser_diameter" value="0.067"/>

<link name="base_footprint"/>

<link name="base_link">
  <visual>
    <geometry>
      <box size="${base_length} ${base_width} ${base_height}"/>
    </geometry>
    <origin xyz="0.0 0.0 ${base_zoff}" rpy="0 0 0"/>
    <material name="tangerine">
      <color rgba="1.0 0.5803921568627451 0.03137254901960784 1.0" />
    </material>
  </visual>
</link>

<joint name="base_joint" type="fixed">
  <parent link="base_footprint"/>
  <child link="base_link"/>
  <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
</joint>

<xacro:macro name="wheel" params="prefix x_reflect y_reflect">
  <link name="${prefix}_link">
    <visual>
      <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
      <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
      </geometry>
      <material name="Gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="${prefix}_joint" type="fixed">
    <parent link="base_link"/>
    <child link="${prefix}_link"/>
    <origin xyz="${x_reflect * (base_length / 2 - axle_offset)} ${y_reflect * (base_width / 2 + wheel_ygap + wheel_width / 2)} ${base_height / 2 - axle_offset}" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
</xacro:macro>

<xacro:wheel prefix="wheel_left_front" x_reflect="1" y_reflect="1" />
<xacro:wheel prefix="wheel_left_back" x_reflect="-1" y_reflect="1" />
<xacro:wheel prefix="wheel_right_front" x_reflect="1" y_reflect="-1" />
<xacro:wheel prefix="wheel_right_back" x_reflect="-1" y_reflect="-1" />

<link name="tower_link">
  <visual>
    <geometry>
      <box size="${tower_length} ${tower_width} ${tower_height}"/>
    </geometry>
    <origin xyz="0.0 0.0 ${base_zoff}" rpy="0 0 0"/>
    <material name="tangerine">
      <color rgba="1.0 0.5803921568627451 0.03137254901960784 1.0" />
    </material>
  </visual>
</link>

<joint name="tower_joint" type="fixed">
  <parent link="base_link"/>
  <child link="tower_link"/>
  <origin xyz="${base_length / 2 + tower_length / 2} 0.0 ${axle_offset}" rpy="0 0 0"/>
</joint>

<link name="camera_link">
  <visual>
    <geometry>
      <box size="${camera_length} ${camera_width} ${camera_height}"/>
    </geometry>
    <origin xyz="0.0 0.0 ${base_zoff}" rpy="0 0 0"/>
    <material name="Gray">
      <color rgba="0.5 0.5 0.5 1.0"/>
    </material>
  </visual>
</link>

<joint name="camera_joint" type="fixed">
  <parent link="tower_link"/>
  <child link="camera_link"/>
  <origin xyz="${tower_length / 2 - camera_length / 2} 0.0 ${tower_height / 2 + camera_height / 2}" rpy="0 0 0"/>
</joint>

<link name="camera_imu_frame">
  <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
</link>

<joint name="camera_imu_joint" type="fixed">
  <parent link="camera_link"/>
  <child link="camera_imu_frame"/>
  <origin xyz="${tower_length / 2 - camera_length / 2} 0.0 ${tower_height / 2 + camera_height / 2}" rpy="0 0 0"/>
</joint>

<link name="camera_imu_optical_frame" />

<joint name="camera_imu_optical_joint" type="fixed">
  <parent link="camera_imu_frame"/>
  <child link="camera_imu_optical_frame"/>
  <origin xyz="0.0 0.0 0.0" rpy="0 0 ${pi}"/>
</joint>

<link name="laser">
  <visual>
    <origin xyz="0 0 ${base_zoff}" rpy="0 0 0"/>
    <geometry>
        <cylinder radius="${laser_diameter / 2}" length="${laser_height}"/>
    </geometry>
    <material name="Gray">
      <color rgba="0.5 0.5 0.5 1.0"/>
    </material>
  </visual>
</link>

<joint name="laser_joint" type="fixed">
  <parent link="base_link"/>
  <child link="laser"/>
  <origin xyz="0 0 ${base_height / 2 + laser_height / 2}" rpy="0 0 0"/>
  <axis xyz="0 1 0"/>
</joint>

</robot>



